
<div class="container m-2 col-12">
  <div class="text-center">
    <h1>Buscador de hoteles</h1>
  </div>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">App-Travel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login">Login<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item">Hoteles</a>
            <a class="dropdown-item">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Something else here</a>
          </div>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="¡Comienza a buscar tu hotel!" aria-label="Search"
        (keyup)="searchTerm$.next($event.target['value'])">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
      </div>
    </div>
  </nav>

  <div class="search-bar">
    <input type="text" class="search"
    #inputValue
     placeholder="¡Comienza a buscar tu hotel!"
     >
  </div>
<div class="card-columns">
    <div 
    class="card" *ngFor="let hotel of listHotel">
      <img class="card-img-top" [src]="hotel.image">
      <div class="card-body">
        <h5 class="card-title"> {{ hotel.name }} </h5>
        <p class="card-text">
          <span class="text-muted">
            ID: {{ hotel.id }}
          </span>
        </p>
        <p>Price: ${{hotel.price}}</p>
      </div>
    </div>
   
    <div>
      <button class="btn btn-primary" (click)="closeSession()">Cerrar sesión</button>
    </div>
  </div>
</div>