<div class="body">
  <div class="login">
    <img src="../../../assets/img/usuer.png" alt="">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="Authentication()">
      <mat-form-field appearance="fill" class="width">
        <mat-label>Airline</mat-label>
        <mat-select formControlName="name">
          <mat-option *ngFor="let air of airlines" value="option">{{air.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="width">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Placeholder" autocomplete="off" formControlName="username">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill" class="width">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Placeholder" type="password" formControlName="password">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill" class="width">
        <mat-label>Miembro</mat-label>
        <input matInput placeholder="Placeholder" type="text" formControlName="remember_me">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" *ngIf="!loading"
        class="width button">Ingresar
      </button>
      <button mat-raised-button color="primary" class="width button" type="button" [disabled]="true" *ngIf="loading">
        <i class="fa fa-spin fa-sync"></i>
        Cargando...</button>

    </form>
  </div>
</div>