.body {
  align-items: center;
  background-color:#f5f5f5;
  display: flex;
  height:100vh;
  justify-content: center;
}

.login {
  max-width: 330px;
  text-align: center;
  width: 100%;
}

.width {
  width: 80%;
}

.button {
  height: 50px;
}

