<!-- <div *ngIf="loading">
  <h2 class="example-h2">Cargando</h2>
  <p>
    <i class="fa fa-sync fa-spin fa-2x"></i>
  </p>
</div>
<div *ngIf="error">
  <h2 class="example-h2">Error</h2> -->
<div *ngIf="!hotel">

  <pre>{{error | json}}</pre>
</div>

<!-- </div> -->
   <div *ngIf="!loading">
    <div fxFlex="50">
      <h1>Descripción</h1>
      <p>{{hotel.description}}</p>
     </div>
     <div>
      <p>Precio: {{hotel.price}}</p>
     </div>
     <div>
     <button class="btn btn-info"  type="button" (click)="backList()">Regresar</button>
    </div>
   </div>
 
